@model PaginationVm<Category>

@{
    int count = (Model.PageCount-1)*4;
}
<div class="row">
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
                <div class="d-flex justify-content-around">
                    <h4 class="card-title"><a asp-action="create" type="button" class="btn btn-success btn-fw">Create category</a></h4>
                    <nav aria-label="Page navigation example ">
                        <ul class="pagination justify-content-center">
                            <li class="page-item ">
                                <a class="page-link @(Model.PageCount<=1 ? " disabled" : "active")" asp-route-page="@(Model.PageCount-1)" asp-action="index" asp-controller="category">Previous</a>
                            </li>
                            @for (int i = 0; i < Model.TotalPage; i++)
                            {
                                <li class="page-item @(Model.PageCount-1==i ? "btn-success disabled" : "")">
                                    <a class="page-link" asp-route-page="@(i+1)" asp-action="index" asp-controller="category">@(i + 1)</a>
                                </li>

                            }
                            <li class="page-item">
                                <a class="page-link @(Model.TotalPage==Model.PageCount ? "disabled" : "active")" asp-route-page="@(Model.PageCount+1)" asp-action="index" asp-controller="category">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>
           

            <div class="table-responsive pt-3">
                <table class="table table-dark text-center">
                    <thead>
                        <tr>
                            <th>
                                No
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Count
                            </th>
                           
                            <th>
                                Settings
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            count++;
                            <tr>
                                <td>
                                    @count
                                </td>
                                <td>
                                    @item.Name
                                </td>
                                <td>
                                    @item.Products.Count
                                </td>
                              
                                <td>
                                     <a asp-controller="category" asp-action="update" asp-route-id="@item.Id"type="button" class="btn btn-outline-success btn-fw" alt="update"><i class="mdi mdi-grease-pencil"></i></a>
                                     <a asp-controller="category" asp-action="delete" asp-route-id="@item.Id"type="button" class="btn btn-outline-danger btn-fw" alt="delete"><i class="mdi mdi-delete-sweep"></i></a>
                                     <a asp-controller="category" asp-action="detail" asp-route-id="@item.Id"type="button" class="btn btn-outline-primary btn-fw" alt="more"><i class="mdi mdi-more"></i> </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </div>
</div>